/*publish time:2013-05-07 16:20 yk*/
/*crumb*/
.crumb h1{display:inline;font-size:12px;font-weight:normal;font-family:\5b8b\4f53;}
.m0{border:1px solid #ddd;}
.m0 .mt{background:#F1F1F1;}
.m0 .mt h2{background:none;}
/*booksort*/
#booksort h2{line-height:28px;}
#booksort .mc{padding:5px 20px;}
#booksort dl{padding:5px 0;overflow:hidden;line-height:24px;}
#booksort dt{position:relative;font-size:14px;font-weight:bold;margin-bottom:5px;font-family:\5fae\8f6f\96c5\9ed1;zoom:1;}
#booksort dt b{display:none;}
#booksort dd{width:938px;overflow:hidden;zoom:1;}
#booksort dd em{float:left;}
#booksort dd a{white-space:nowrap;margin-right:16px;}