/*-- 左侧导航读书分类开始  --*/
		.my_left_category{
		  width:150px;
		  font-size:12px;
		  font-family:arial,sans-serif;
		  letter-spacing:2px;
		}
		.my_left_category h1{
		  background-image:url(http://www.ueone.net/upload/360buy/spring_06.gif);
		  height:20px;
		  background-repeat:no-repeat;
		  font-size:14px;
		  font-weight:bold;
		  padding-left:15px;
		  padding-top:8px;
		  margin:0px;
		  color:#FFF;
		}
		.my_left_category .my_left_cat_list{
		width:148px;
		border-width:0px 1px 1px 1px;
		line-height:13.5pt;
		}
		.my_left_category .my_left_cat_list h2 {
		margin:0px;
		padding:3px 5px 0px 9px;
		}
		.my_left_category .my_left_cat_list h2 a {
		color:#676767;
		font-weight:bold;
		font-size:14px;
		line-height:22px;
		}
		.my_left_category .my_left_cat_list h2 a:hover {
		color:#d6290b;
		font-weight:bold;
		font-size:14px;
		line-height:22px;
		}
		.my_left_category .h2_cat{
		 width:148px;
		 height:26px; 
		 background-image:url(http://www.ueone.net/upload/360buy/my_menubg.gif);
		 background-repeat:no-repeat; 
		 line-height:26px;
		 font-weight:normal;
		 color:#333333;
		 position:relative;
		}
		.my_left_category .h2_cat_1{
		 width:148px;
		 height:26px; 
		 background-image:url(http://www.ueone.net/upload/360buy/my_menubg_1.gif);
		 background-repeat:no-repeat; 
		 line-height:26px;
		 font-weight:normal;
		 color:#333333;
		 position:relative;
		}
		.my_left_category a{
		 font:12px;
		 text-decoration:none;
		 color:#676767;
		}
		.my_left_category a:hover{
		 text-decoration:underline;
		 color:#676767;
		}
		.my_left_category h3{
		margin:0px; 
		padding:0px;
		height:26px; 
		font-size:12px; 
		font-weight:normal;
		display:block; 
		padding-left:8px;
		}
		.my_left_category h3 span{color:#999999; width:145px; float:right;}
		.my_left_category h3 a{ line-height:26px;}
		.my_left_category .h3_cat{
		 display:none;
		 width:204px;
		 position:absolute; 
		 left:210px;    /*-- 点击之后展示的与左边的距离  --*/
		 margin-top:-26px; 
		 cursor:auto;
		}
		.my_left_category .shadow{
		position:inherit;
		background:url(http://www.ueone.net/upload/360buy/shadow_04.gif) left top;
		width:204px;
		}
		.my_left_category .shadow_border{
		position:inherit; 
		width:400px; 
		border:1px solid #959595; margin-top:1px; 
		border-left-width:0px; 
		background:url(http://www.ueone.net/upload/360buy/shadow_border.gif) no-repeat 0px 21px;  
		background-color:#ffffff; 
		margin-bottom:3px
		}
		.my_left_category .shadow_border ul{margin:0; padding:0; margin-left:15px}
		.my_left_category .shadow_border ul li {
		list-style:none;
		padding-left:10px;
		background-image:url(http://www.ueone.net/upload/360buy/my_cat_sub_menu_dot.gif);
		background-repeat:no-repeat;
		background-position:0px 8px;
		float:left;
		width:75px;
		height:26px;
		overflow:hidden;
		letter-spacing:0px;
		} 
		.my_left_category .active_cat{
			 z-index:99;
			 background-position:center;
			 cursor:pointer;
			 background-color: white;
			 width: 210px;  
		}
		.my_left_category .active_cat h3 { font-weight:bold}
		.my_left_category .active_cat h3 span{ display:none;} 
		.my_left_category .active_cat div{display:block;} 
			
/*-- 左侧导航读书分类技术  --*/